.fortune {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.button {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  top: -10px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}

.winner {
  font-weight: bold;
}

.wrapper {
  margin: 2rem;
  width: 400px;
  display: flex;
  gap: 3rem;
}

.wrapperFortune {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
